/* --------------------------------------------------------
Style Sheet for NFT exchange

version: 0.9
last modified: 13.09.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --color-brand: #a6d1c9;
  --color-brand-dark: #282b29;
  --color-highlight: #C90076;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply font-extrabold border-b-2 border-brand;
}

.mobile-menu .active {
  @apply font-extrabold text-brand bg-brand-dark;
}

.link {
  @apply underline outline-none transition-all duration-300;
}

.link:hover {
  @apply no-underline rounded transition-all duration-500 text-white px-1 bg-brand-dark; 
}
